[Unit]
Description=Connectng /dev/ttyACM%I to nullmodem
BindsTo=dev-ttyACM%i.device
Requires=nullmodem.service
After=nullmodem.service
StopWhenUnneeded=true

[Service]
ExecStart=@/usr/bin/socat attach-tty -sd /run/nullmodem/loop%I /dev/ttyACM%I
Restart=always
